body {
    background-color: rgb(252, 220, 253);
    color: rgb(19, 2, 36);
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* en flex-direction: column; se invierten justif-content y align-items */
    width: 75%;
    margin: 0 auto;
}

h1 {
    color: blueviolet;
}

h2 {
    color: darkmagenta;
}