@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color:antiquewhite;
    font-family: "montserrat", sans-serif;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

header a {
    margin: 0 1rem;
}
h1 {
    color: darkmagenta;
}

h2 {
    color: palevioletred;
}
section {
    padding: 0 0.5rem;
}
#techs {
    border: palevioletred 4px dashed;
    border-radius: 10px;
}
#techs article {
    padding: 0 1.5rem;
}

#contact li {
    color: blueviolet;
}

a {
    color: blueviolet;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}